
.app{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:0 1rem;
}

.app::before{
  position: fixed;
  right: 7rem;
  bottom: 10rem;
  background-image: url('../public/images/vecteezy_bibimbap-png-grapihc-clipart-design_20001895_208.png');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: .5;
  filter:drop-shadow(0 15px 15px rgba(124, 124, 124, 0.616));
  transform: rotate(-40deg);
  width: 250px;
  height: 250px;
  z-index: -1;
  animation: slideFromTop 1s ease-in;
  content: '';
  transition: transform .3s ease-in-out;
}


.app:after{
  position: fixed;
  z-index: -1;
  left:7rem;
  top: 10rem;
  background-image: url('../public/images/vecteezy_bibimbap-png-grapihc-clipart-design_20001024_890.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: .5;
  filter:drop-shadow(0 15px 15px rgba(124, 124, 124, 0.616));
  width: 250px;
  height: 250px;
  transform: rotate(40deg);
  animation: slideFromBottom 1s ease-in;
  content: '';
}
@keyframes slideInLeft {
  from{
    transform:translateX(-200px);
    
  }
  to{
    transform: translateX(0);
  }
  
}

@keyframes slideInRight {
  from{
    transform:translateX(200px)
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slideFromTop {
  from{
    transform:rotate(0) translateY(200px);
    opacity: 0;
  }
  to{
    transform: rotate(-40deg) translateY(0);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  from{
    transform:rotate(0) translateY(200px); 
    opacity: 0;
  }
  to{
    transform: rotate(40deg) translateY(0);
    opacity: 1;
  }
}
.resultsContainer{
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.resultsContainer h3{
  color:#A7727D;
  font-weight: 400;
}
.cta{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  margin-top: 2rem;
}

.cta h1{
  animation: slideInLeft 2s ease-in 1 normal;
}





.cta p{
  font-size: .9rem;
  animation: slideInRight 2s ease-in 1 normal;
  
}
form{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2rem 1rem;
  max-width: 600px;
  width: 100%;
}

form div{
  width: 100%;
}
form button{
  border: 2px solid black;
  border-left: none;
  background-color: transparent;
  padding: 1rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
form button:hover{
  color:white;
}

.searchBar{
  border: 2px solid black;
  background-color: transparent;
  padding:1rem;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 100%;

}



.searchBar:focus, .searchBar:hover{
  outline: none;
}

@keyframes slideInLeft {
  from{
    transform:translateX(-200px)
  }
  to{
    transform: translateX(0);
  }
  
}

@media screen and (max-width:600px) {
    .app::before, .app::after{
      
      width: 150px;
      height: 150px;
    }
    .app::after{
        left:0;
        top:8rem;
    }

    .app::before{
      right:1rem;
      bottom: 1rem;
    }
    .searchBar{
      width: ;
    }
    .searchBar::placeholder{
      font-size: .75rem;
    }
}

